body {
  font-family: 'Open Sans', sans-serif;

}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.container {
  background-color: red;
}

p {
  display: inline-block;

}

#nextRestaurant,
#initialButton {
  display: block;
  margin: auto;
  margin-top: 10px;
}

#location {
  display: block;
  margin: auto;
}
